   <div class="cube">
        <img class="cube" src="{{imageUrl}}">
        <p class="name">{{name}}</p>
        <p><span>Description:</span> {{description}}</p>
        <p><span>Difficulty Level:</span> {{difficultyLevel}}</p>
        <a class="btn" href="/cubes/{{id}}/details">Details</a>
    </div>
